---
Checks: >
  -*,
  clang-*,
  -clang-diagnostic-return-type-c-linkage,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nullptr,
  -modernize-avoid-c-arrays,
  -modernize-use-std-print,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  -performance-no-int-to-ptr,
  -performance-enum-size,
  google-explicit-constructor,
  misc-*,
  -misc-unused-parameters,
  -misc-include-cleaner,
  -misc-use-anonymous-namespace,
  -misc-non-private-member-variables-in-classes,
  -misc-misplaced-const,
  readability-*,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-redundant-access-specifiers,
  -readability-math-missing-parentheses,
  -readability-qualified-auto,
  -readability-uppercase-literal-suffix,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-container-size-empty
WarningsAsErrors: "*"
CheckOptions:
  - { key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor,
      value: true }
  - { key: cppcoreguidelines-narrowing-conversions.WarnOnIntegerToFloatingPointNarrowingConversion,
      value: false }
  - { key: bugprone-narrowing-conversions.WarnOnIntegerToFloatingPointNarrowingConversion,
      value: false }
  - { key: bugprone-lambda-function-name.IgnoreMacros,
      value: true }
  - { key: readability-simplify-boolean-expr.IgnoreMacros,
      value: true }
